// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-hilti-red: #CC0000;
    --ion-color-hilti-red-tint: #770000;
    --ion-color-black: #1A1A1A;
    --ion-color-gray-dark: #333333;
    --ion-color-white: #ffffff;
  }
  