/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

body {
    --ion-background-color: var(--ion-color-black);
    --ion-text-color: var(--ion-color-white);
}

  /* تعریف فونت وزیر */
@font-face {
  font-family: 'Vazir';
  src: url('assets/fonts/Vazir.woff2') format('woff2'),
       url('assets/fonts/Vazir.woff') format('woff'),
       url('assets/fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* اعمال فونت به بدنه و سایر عناصر */
body {
  font-family: 'Vazir', sans-serif;
}

ion-item{
  transition: all .25s ease;
}

.font-vazir{
  font-family: 'vazir';
}
 
.hilti-header, .hilti-toolbar {
    --background: var(--ion-color-black);
    --color: var(--ion-color-white);
}
  
.hilti-button {
    --background: #7700005b;
    --background-hover: var(--ion-color-hilti-red-tint);
    --color: var(--ion-color-white);
}
  
.hilti-content {
    --background: var(--ion-color-black);
}
  
.header-shadow{
    box-shadow: 0 0 2rem var(--ion-color-hilti-red);
}

.shop-list{
  z-index: -1;
  position: absolute;
}

.sidebar-list{
  background: var(--ion-color-hilti-red-tint);
}

.animation-container {
  text-align: center;
  padding: 20px;
}

.animation-container img {
  width: 100px; /* تغییر اندازه آیکن */
  height: auto;
}
